p{
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal font-variation-settings;
}


.uppercase{
    text-transform: uppercase;
}

.lowercase{
    text-transform: lowercase;
}

.capitalize{
    text-transform: capitalize;
}

.indent{
    text-indent: 50px;
}  

.shadow{
    text-shadow: 1px 1px  #ff0000;
}

.shadow-blur{
    text-shadow: 1px 1px 5px  #26c64b;
}
.overline{
    text-decoration: overline;
}

.line-through{
    text-decoration: line-through;
}

.underline{
    text-decoration: underline;
}

.overline-underline{
    text-decoration: overline underline ;
}